doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Robert Brennan')
    link(rel="icon" href="favicon.png?")
    title Robert Brennan
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/styles.css")

  body
    mixin portfolio-item(title, description, link)
      .portfolio-item
        h4
          a(href=link)= title
        p= description

    .container
      .section
        h1
          span Robert Brennan
          .social-links
            mixin social-link(link, icon)
              .social-link
                a.btn.btn-sm.btn-primary(href=link)
                  i.fa.fa-2x(class="fa-" + icon)
            +social-link("https://github.com/rbren", 'github')
            +social-link("https://www.linkedin.com/in/robert-a-brennan", 'linkedin')
            +social-link("mailto:contact@rbren.io", 'envelope')

      .section
        h2 About me
        p.
          I'm a Software Engineer with degrees in Computer Science, Mathematics, and Linguistics.
          I specialize in Developer Tools, Machine Learning, and Natural Language Processing.

      .section
        h2 What I'm up to
        p.
          I'm currently the CEO of <a href="https://github.com/All-Hands-AI/OpenHands">OpenHands</a>, an open source platform for coding agents.

      .section
        h2 What I look like
        img(src="/img/me.png")

      .section
        h2 My projects
        p.
          I love building things. Below are a few projects that I've worked on,
          both on my own and with the help of others.
        +portfolio-item('OpenHands',
          'I\'m the CEO of OpenHands, an open source platform for coding agents. We have a team of around 30 people and have raised over $20M.',
          'https://github.com/All-Hands-AI/OpenHands')
        +portfolio-item('Fairwinds Insights',
          'Fairwinds Insights is a platform for consolidating and operationalizing Kubernetes auditing tools. I worked with our CTO and VP of Strategy to conceptualize Insights, and built a team of engineers to implement it.',
          'https://fairwinds.com/insights')
        +portfolio-item('Long Answers',
          'While working at Google, I wrote an algorithm to extract answers to open-ended questions, like "Why is the sky blue?" The algorithm was incorporated into Google Search in August 2013, and resulted in Patent US9940367B1.',
          'https://www.google.com/search?q=why+is+the+sky+blue')
        +portfolio-item('World News',
          'A visualization of headlines from The Economist',
          'https://rbren.io/worldnews')
        +portfolio-item('Stock Screener',
          'A stock screener that I\'ve heavily customized for my own needs',
          'https://rbren.io/stock-screener')

      .section
        h2 Written work
        p.
          Writing has always been a passion of mine. I particularly enjoy technical
          writing and essays. I'm hoping to start writing more
          <a href="https://rbren.substack.com/">on Substack</a>.
        +portfolio-item('Banning Open-Weight Models Would be a Disaster',
          'A response to NTIA\'s request for comments on AI policy',
          'https://rbren.substack.com/p/banning-open-weight-models-would')
        +portfolio-item('Kubernetes Without Scale: Reasons to Run a Personal Cluster',
          'A two part series on Container Journal, on how to set up a personal Kubernetes cluster',
          'https://containerjournal.com/topics/container-ecosystems/kubernetes-without-scale-reasons-to-run-a-personal-cluster/')
        +portfolio-item('5 Problems with Kubernetes Cost Estimation Strategies',
          'An overview of difficulties that come up when estimating workload cost in Kubernetes',
          'https://www.fairwinds.com/blog/5-problems-with-kubernetes-cost-estimation-strategies')
